In [2]:
a=2
b=4
c=b**(1/a)
print(c)

2.0

In [6]:
name=input("Enter your name :")
print(name)

Enter your name :sherin
sherin

In [8]:
a=input("Enter a number :")
b=input("Enter a number :")
c=a+b
print(c)

Enter a number :2
Enter a number :3
23

In [9]:

a=int(input("Enter a number :"))
b=int(input("Enter a number :"))
c=a+b
print(c)

Enter a number :2
Enter a number :3
5

In [14]:
age=int(input("enter age :"))
if age>18: 
   print("greater than 18")  
   print("adult")
   print("inside")
print("outside")

enter age :19
greater than 18
adult
inside
outside

In [19]:
age=int(input("enter age :"))
if age>18: 
   print("greater than 18")  
   print("adult")
   print("inside")
elif age>15:
   print("greater than 15")
else:
   print("less than 18")
print("outside")

enter age :15
less than 18
outside

In [23]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(10):
   print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [27]:
for i in range(3,10):
   print(i,end=" ")

3 4 5 6 7 8 9

In [30]:
i=0
while(i<10):
  print(i,end=" ")
  i=i+1

0 1 2 3 4 5 6 7 8 9

In [38]:
i=[1,2,3]
print(i)

[1, 2, 3]

In [40]:
i=[1,2,3]
print(i[0])

1

In [42]:
a=["a"]
print(a)
a.append(10)
print(a)

['a']
['a', 10]

In [51]:
a=["a"]
print(a)
for i in range(3):
  a.append(input("enter the value"))
  print(a)
a.append(int(input("integer value :")))
print(a)

['a']
enter the value3
['a', '3']
enter the value5
['a', '3', '5']
enter the value8
['a', '3', '5', '8']
integer value :9
['a', '3', '5', '8', 9]

In [57]:
a=set()
print(a)
for i in range(3):
  a.add(input("enter the value"))
  print(a)
a.add(int(input("integer value :")))
print(a)

set()
enter the value4
{'4'}
enter the value5
{'5', '4'}
enter the value1
{'5', '4', '1'}
integer value :7
{'5', 7, '4', '1'}

In [68]:
d={
    "a":123,
    "apple":46
}
print(d["a"])
print(d.get("orange","not found"))

123
not found

In [76]:
  c = 10
  b= 20
  print("c =",c)
  print("b =",b)
  c,b=b,c
  print("c =",c)
  print("b =",b)

c = 10
b = 20
c = 20
b = 10